
* {
    background-color: rgb(39, 37, 68);;
    text-align: center;
    align-content: center;
}
h1 {
    background-color: rgb(39, 37, 68);
    color: white;
}

header {
    padding: 50px;
    background-color: rgb(39, 37, 68);
    border: 5px solid white;
}

.icon {
    
}

footer {
    padding: 50px;
    border: 5px solid white;
}

#outcome {
    color: white;
}

#icon-layer {
    display: flex;
    justify-content: center;
    border: 5px solid white;
    padding: 20px;
}
.icon-box{
}
.playerBtn {
    width: 75px;
    height: auto;
    padding: 20px 50px 20px 50px;
}
.playerBtn:hover {
    transform: scale(1.25);
}